<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
</head>
<body>
    <h1>Sentiment Analysis</h1>
    <h3>Enter Your Text</h3>
    
    <!-- Form for entering text to predict sentiment -->
    <form action="{{ url_for('predict') }}" method="post">
        <label for="review">Text:</label><br>
        <input type="text" name="review" value=""><br><br>

        <input type="submit" value="Predict">
    </form>

    <br><br>

    <!-- Display the prediction result -->
    <h4 style="color:Violet;">{{ prediction_text }}</h4>

</body>
</html>
